
body {
      margin: 0;
	  padding: 0;
      background-color:#333;
    }

    #container {
      width: 100%;
      -webkit-perspective: 1000;
      -webkit-perspective-origin: 50% 620px;
    }
    #stage {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 2s;
      -webkit-transform-style: preserve-3d;
    }
    
    #shape {
      position: relative;
      top: 200px;
      margin: 0 auto;
      height: 200px;
      width: 200px;
      -webkit-transform-style: preserve-3d;
    }
    
    .plane {
      position: absolute;
      height: 200px;
      width: 200px;
      border: 1px solid white;
      -webkit-border-radius: 12px;
      -webkit-box-sizing: border-box;
      text-align: center;
      font-family: Times, serif;
      font-size: 124pt;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -webkit-backface-visibility: hidden;
    }

    #shape.backfaces .plane {
      -webkit-backface-visibility: visible;
    }

    #shape {
      -webkit-animation: spin 8s infinite linear;
    }

    @-webkit-keyframes spin {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(360deg); }
    }
	
    .one {
		background-image: url("https://scontent.fhan14-5.fna.fbcdn.net/v/t1.15752-9/495072081_1601175493896843_3008988156946522539_n.jpg?stp=dst-jpg_s640x640_tt6&_nc_cat=104&ccb=1-7&_nc_sid=0024fc&_nc_ohc=BBwHtq060EkQ7kNvwGjI5Oe&_nc_oc=AdmSgvZbyxxUUPpXtuIaLV5xLhBc02Y-DO0wmmOTM6ab3eE9gCyfQXmKnAn5Ae9Pl3g&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&oh=03_Q7cD2gG2iCUw6ADVd0SaV8fMgUlMkOP3A21jdB2qbAPIbAZ4RQ&oe=6875A6E0");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .two {
		background-image: url("https://scontent.fhan14-5.fna.fbcdn.net/v/t1.15752-9/495072904_741314921655762_8833576095180027247_n.jpg?stp=dst-jpg_s640x640_tt6&_nc_cat=106&ccb=1-7&_nc_sid=0024fc&_nc_ohc=3DBVkHEbVeoQ7kNvwGdLzm1&_nc_oc=AdlqlDy0v-s48OgGJ3Tbi761gAPEFHBa8_Js3b4AQlA4lzOH2zgMDVjMsOT4QzUFGmE&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&oh=03_Q7cD2gHW7KvjlZ9t60nAEBhlwXdIXRfjxtwdtehxwBHiNC55EQ&oe=6875B74F");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .three {
		background-image: url("https://scontent.fhan14-3.fna.fbcdn.net/v/t1.15752-9/494822045_1065504272309903_5952986178675804475_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0024fc&_nc_ohc=xEGSOt58sk0Q7kNvwF1EXTZ&_nc_oc=Adm-3ULCic8qgou8bS4TclJTD3f8wz9GRAxDRkU9km0O6ARE7nC2L0lu9Cmx7oD30IQ&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-3.fna&oh=03_Q7cD2gFwHLsuzNoAW1HMpSrLdmaOl9MJkUKnQcUgOgOnauFtuw&oe=68759C81");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .four {
		background-image: url("https://scontent.fhan14-5.fna.fbcdn.net/v/t1.15752-9/494689156_589952397464945_7723665032130499433_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=0024fc&_nc_ohc=tWPv90oN97gQ7kNvwFBHucT&_nc_oc=Adk-E6sUQU-R2fuaFEwH2HQTGzB6LNsrf35qL8IzwV6ael1a0Ce71CbwKL6jMSAPTD4&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&oh=03_Q7cD2gGkF_riGhHC_0Au-nta6HH8Qoui1Mb0WyQeTCsmuge21w&oe=6875B1D3");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .five {
		background-image: url("https://scontent.fhan14-5.fna.fbcdn.net/v/t1.15752-9/494825155_1443414540133503_1440689407522443468_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0024fc&_nc_ohc=oJsc4YIcvHoQ7kNvwFiBDJo&_nc_oc=AdnoALGxFGlHUy4yRXZfnw8M4KwxxdMGjnw_e366DyvvXHd5hPhuP4WfA9o-qXEe-is&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&oh=03_Q7cD2gGQczTkCVpCFhDhgLsgZV0vArFD_nXj1LRQLqZ1ISc6jA&oe=6875B753");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .six {
		background-image: url("https://scontent.fhan14-3.fna.fbcdn.net/v/t1.15752-9/494688864_1894230991396784_326834202222629506_n.jpg?stp=dst-jpg_p480x480_tt6&_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_ohc=1wIqXUiws_gQ7kNvwERKwEC&_nc_oc=Adm-U3tPUA9LbLuSftubbVIY9rMcAsJMJZe75uomlrUwYtGYfLfZSJOsO-XWWasxu04&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-3.fna&oh=03_Q7cD2gHHau4YVR9DdtP81kED_kSule8_fjteqziPFQc0qyZZ1Q&oe=6875A6DB");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .seven {
		background-image: url("https://scontent.fhan14-5.fna.fbcdn.net/v/t1.15752-9/500542942_688101340491611_4475212498393001319_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0024fc&_nc_ohc=85w4yHTRWp4Q7kNvwGiSDIp&_nc_oc=AdnmHQVML7Zlu-_tKvguaX8puxquPDfXOdOScyd78_qjRmoi7Rmz_5QfWiD8s5RLdMA&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&oh=03_Q7cD2gFrXdgQ9qsPcdtHoMP5dpyB1gmqYm2i20NZWAY-unYZ2g&oe=68759911");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .eight {
		background-image: url("https://scontent.fhan14-1.fna.fbcdn.net/v/t1.15752-9/494691234_706235471814854_639321666398154782_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_ohc=Vx8yKkceZf0Q7kNvwH2sA6w&_nc_oc=AdnjPdKL16I_aNsFMd3irqhO0a37LprZz2HYEVxsfeeXRvkXtGURNBrXx6vasVfE1QY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-1.fna&oh=03_Q7cD2gFOM47bJov_LG6DGdqRxiPm4tZiUWN48Tq3oYlB1mhx4Q&oe=6875AEA4");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .nine {
		background-image: url("https://scontent.fhan14-3.fna.fbcdn.net/v/t1.15752-9/494688864_1894230991396784_326834202222629506_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_ohc=1wIqXUiws_gQ7kNvwERKwEC&_nc_oc=Adm-U3tPUA9LbLuSftubbVIY9rMcAsJMJZe75uomlrUwYtGYfLfZSJOsO-XWWasxu04&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-3.fna&oh=03_Q7cD2gFp1_9O-d5u21Nhvjl0yovhM34mmc7PpglAnphy65LnYw&oe=6875A6DB");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .ten {
		background-image: url("https://scontent.fhan14-3.fna.fbcdn.net/v/t1.15752-9/495076325_1633294921393369_2932434826678786395_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_ohc=VEXuhkObkv4Q7kNvwEnpdRk&_nc_oc=AdmQFnmqk6OOst0j5x7_ZqqB_cT1a75tGE74vaNIAAXLZzgENBDIzlo6WInyoXf8gFY&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-3.fna&oh=03_Q7cD2gExx4uuK61sJ4tnhcwvFuAGtF7aEfcfbCwXy6aPaqKdNA&oe=6875A8A4");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .eleven {
		background-image: url("https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/494687295_1412381203135402_6683969311896165492_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=0024fc&_nc_ohc=mD6Xsc95HhYQ7kNvwG9zFce&_nc_oc=AdmbPlyQ1tFmKRsZ5M7nfIEmLnvFp2YrJweO3z4wCi3osg-vxvOLH1TSGxczZJY-awU&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-2.fna&oh=03_Q7cD2gHZ265IGsF_5U8EqN7raTyeMI-To7_PH8aiwtIX-ptIjA&oe=68759851");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    .twelve {
		background-image: url("https://scontent.fhan14-3.fna.fbcdn.net/v/t1.15752-9/494691718_9977446378976477_3685306741253179585_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0024fc&_nc_ohc=jCF9uPaRGXkQ7kNvwE6DQTX&_nc_oc=AdlwX58jW-aHk98hNTvfQimLjwTyavncjiBCJb3f4NayxN9P2hY_0Pc2BZ3Kr8GyT4g&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.fhan14-3.fna&oh=03_Q7cD2gFCFolSvq-gMAPkP0jPhOuaFxv9jvxsnSfYCROSp963Qg&oe=6875C197");
		background-size: 100% 100%;
		background-repeat: no-repeat;
    }

    #shape.cube > .one {
		opacity: 0.2;
		-webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
    }

    #shape.cube > .two {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
    }

    #shape.cube > .three {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
    }

    #shape.cube > .four {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
    }

    #shape.cube > .five {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
    }

    #shape.cube > .six {
      opacity: 0.2;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
    }
	
	#shape:hover.cube > .one {
		opacity: 0.9;
		-webkit-transform: scale3d(1.5, 1.5, 1.5) rotateX(90deg) translateZ(130px);
    }

    #shape:hover.cube > .two {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) translateZ(150px);
    }

    #shape:hover.cube > .three {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(90deg) translateZ(150px);
    }

    #shape:hover.cube > .four {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(180deg) translateZ(150px);
    }

    #shape:hover.cube > .five {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateY(-90deg) translateZ(150px);
    }

    #shape:hover.cube > .six {
      opacity: 0.9;
      -webkit-transform: scale3d(1.5, 1.5, 1.5) rotateX(-90deg) translateZ(130px) rotate(180deg);
    }


    #shape.cube > .seven {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
    }

    #shape.cube > .eight {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
    }

    #shape.cube > .nine {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
    }

    #shape.cube > .ten {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
    }

    #shape.cube > .eleven {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
    }

    #shape.cube > .twelve {
      -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
    }

    .ring > .one {
      -webkit-transform: translateZ(380px);
    }

    .ring > .two {
      -webkit-transform: rotateY(30deg) translateZ(380px);
    }

    .ring > .three {
      -webkit-transform: rotateY(60deg) translateZ(380px);
    }

    .ring > .four {
      -webkit-transform: rotateY(90deg) translateZ(380px);
    }

    .ring > .five {
      -webkit-transform: rotateY(120deg) translateZ(380px);
    }

    .ring > .six {
      -webkit-transform: rotateY(150deg) translateZ(380px);
    }

    .ring > .seven {
      -webkit-transform: rotateY(180deg) translateZ(380px);
    }

    .ring > .eight {
      -webkit-transform: rotateY(210deg) translateZ(380px);
    }

    .ring > .nine {
      -webkit-transform: rotateY(-120deg) translateZ(380px);
    }

    .ring > .ten {
      -webkit-transform: rotateY(-90deg) translateZ(380px);
    }

    .ring > .eleven {
      -webkit-transform: rotateY(300deg) translateZ(380px);
    }

    .ring > .twelve {
      -webkit-transform: rotateY(330deg) translateZ(380px);
    }

    .controls {
      padding: 5px;
    }
	
    .controls > div {
      margin: 10px;
    }
	
	.audio {
      position: absolute;
	  top: 15px;
      left: 15px;
      height: 30px;
      width: 300px;
    }

/* CSS Button Đổi Kiểu */
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dddcdf) );
	/*background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:10%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
    margin-top: 8%;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}
.body{
    margin-left: 3%;
    width: 94%;
    height: 100vh;
    background: url("https://scontent.fhan4-1.fna.fbcdn.net/v/t31.0-8/1400171_575092365889722_544633382_o.jpg?_nc_cat=105&_nc_ohc=iBV_wt1FlkMAQnY-DaPjIrCalzOtqIREFuh1sxr7OySme_yMBYacnrGZg&_nc_ht=scontent.fhan4-1.fna&oh=adf3b4bfea02b2f7d6ff7baa269f31bb&oe=5EA2D0CA");
}


@-webkit-keyframes my {
    0% { color: #f809ec; }
    50% { color: #0aeeff;  }
    100% { color: #f809ec;  }
}
@-moz-keyframes my {
    0% { color: #f809ec;  }
    50% { color: #0aeeff;  }a
    100% { color: #f809ec;  }
}
@-o-keyframes my {
    0% { color: #f809ec; }
    50% { color: #0aeeff; }
    100% { color: #f809ec;  }
}
@keyframes my {
    0% { color: #f809ec;  }
    50% { color: #0aeeff;  }
    100% { color: #f809ec;  }
}
.header {
    text-align: center;
    font-size:60px;
    font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}
 @-webkit-keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @-webkit-keyframes snowflakes-shake {
    0%,100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50% {-webkit-transform:translateX(80px);transform:translateX(80px)}
  }
  @keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @keyframes snowflakes-shake {
    0%,100%{ transform:translateX(0)}
    50% {transform:translateX(80px)}
  }
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running;
  }
  .snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
  }
  .snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
  }
  .snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
  }
  .snowflake:nth-of-type(3){
    left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
  }
  .snowflake:nth-of-type(4){
    left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
  }
  .snowflake:nth-of-type(5){
    left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
  }
  .snowflake:nth-of-type(6){
    left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
  }
  .snowflake:nth-of-type(7){
    left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
  }
  .snowflake:nth-of-type(8){
    left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
  }
  .snowflake:nth-of-type(9){
    left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
  }
  .snowflake:nth-of-type(10){
    left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s
  }
  .snowflake:nth-of-type(11){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }
	
